@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* CSS Variables */
:root {
    --primary-color: #1f2937;
    --secondary-color: #E5E7EB;
    --accent-color: #3882F6;
    --white-color: #F9FAF8;
    --font-family: 'Roboto', sans-serif;
    --hero-font-size: 48px;
    --secondary-font-size: 18px;
    --header-font-size: 24px;
    --info-header-font-size: 36px;
    --quote-font-size: 36px;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}

/* Container for centering content */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem; /* Adds padding on left and right */
}

.full-width-background {
    width: 100%;
    padding: 0;
}

/* HEADER */
header {
    background-color: var(--primary-color);
    padding: 1em 0;
}

/* NAVIGATION */
#logo {
    font-size: var(--header-font-size);
    font-weight: 900;
    color: var(--white-color);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
}

.nav a,
.secondary,
a:link {
    font-size: var(--secondary-font-size);
    color: var(--secondary-color);
    text-decoration: none;
}

/* WELCOME */
.welcome {
    padding: 7em 0;
    gap: 2em;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.welcome .left {
    flex-basis: 60%;
}

.welcome .right {
    flex-basis: 40%;
}

.welcome p {
    padding-top:16px;
    padding-bottom: 16px;
}

.welcome-text {
    display: flex;
    justify-content:space-between;
    align-items:center;
    gap: 64px ;
}

.hero {
    font-weight: 900;
    font-size: var(--hero-font-size);
}

button {
    padding: 7px 1em;
    width: 120px;
    background-color: var(--accent-color);
    border-radius: 8px;
    border: none;
    color: var(--white-color);
    cursor: pointer;
}

.image {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 215px;
    color: var(--secondary-color);
}

/* CARD SECTION */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 13em;
    margin-top: 3em;
}

main h2 {
    font-size: var(--info-header-font-size);
    font-weight: 900;
    color: var(--primary-color);
    padding-top: 36px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 0 6em 0;
}

.card {
    text-align: center;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.square {
    border: 4px solid var(--accent-color);
    border-radius: 20px;
    width: 160px;
    height: 160px;
}

.card p {
    color: var(--primary-color);
}

/* QUOTE */
.quote {
    background-color: var(--secondary-color);
    padding: 7em 0;
}

.quote .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-style: italic;
}

.quote blockquote {
    font-size: var(--quote-font-size);
    font-weight: 300;
    color: var(--primary-color);
}

.quote p {
    font-weight: bold;
    font-size: 24px;
    color: var(--primary-color);
    text-align: right;
}

/* SIGN UP */
.sign-up {
    padding: 5em 0;
}

.sign-up .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up .container-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--accent-color);
    padding: 3em;
    width: 100%;
    border-radius: 10px;
}

.sign-up button {
    border: 2px solid var(--white-color);
}

strong {
    font-size: 24px;
    color: var(--white-color);
}

/* FOOTER */
footer {
    background-color: var(--primary-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    text-align: center;
}
